{% extends 'base.html' %}

{% block meta %}
{% endblock meta %}

{% block content %}
{% include 'navbar_manager.html' %}
<section class="tw-flex tw-w-full tw-w-full tw-h-screen tw-justify-center tw-items-center 
tw-bg-gradient-to-r tw-from-[rgba(2,0,36,1)] tw-via-[rgba(60,161,199,1)] tw-to-[rgba(0,123,255,1)]">
  <div class="tw-flex tw-flex-col tw-p-12 tw-gap-10 tw-items-center tw-bg-white">
    <h1 class="tw-text-5xl tw-font-bold">List Pertandingan</h1>
    <div class="tw-flex tw-gap-2 tw-w-full">
      <table class="tw-w-full tw-text-left">
        <thead class="tw-uppercase">
          <tr class="tw-text-center  tw-border-b">
            <th scope="col" class="tw-px-6 tw-py-3">
              Tim Bertanding
            </th>
            <th scope="col" class="tw-px-6 tw-py-3">
              Stadium
            </th>
            <th scope="col" class="tw-px-6 tw-py-3">
              Tanggal dan Waktu
            </th>
          </tr>
        </thead>
        <tbody>
          {%for game in list_pertandingan%}
            <tr class="tw-bg-white tw-border-b tw-text-center">
              <td scope="row" class="tw-px-6 tw-py-4 tw-font-medium tw-text-gray-900 tw-whitespace-nowrap">
                {{game.tim_a}} vs {{game.tim_b}}
              </td>
              <td scope="row" class="tw-px-6 tw-py-4 tw-font-medium tw-text-gray-900 tw-whitespace-nowrap">
                {{game.stadium}}
              </td>
              <td class="tw-px-6 tw-py-4">
                {{game.display}}
              </td>
            </tr>
          {%endfor%}
        </tbody>
    </table>
  </div>

  
</section>
{% endblock content %}