{% extends 'base.html' %}

{% block meta %}
{% endblock meta %}

{% block content %}
{% include 'navbar_penonton.html' %}
<section class="tw-flex tw-w-full tw-w-full tw-h-screen tw-justify-center tw-items-center 
tw-bg-gradient-to-r tw-from-[rgba(2,0,36,1)] tw-via-[rgba(60,161,199,1)] tw-to-[rgba(0,123,255,1)]">
  <div class="tw-flex tw-w-[40%] tw-flex-col tw-p-8 tw-gap-8 tw-items-center tw-bg-white">
    <h1 class="tw-text-5xl tw-font-bold">Beli Tiket</h1>
    <div class="tw-flex tw-gap-2 tw-w-full">
      <label class="tw-font-bold tw-w-[30%]">Jenis Tiket: </label>
      <select id="stadium" class="tw-w-full">
        <option value="vip">VIP</option>
        <option value="main east">Main East</option>
        <option value="kategori 1">Kategori 1</option>
        <option value="kategori 2" selected>Kategori 2</option>
      </select>
    </div>

    <div class="tw-flex tw-gap-2 tw-w-full">
      <label class="tw-font-bold tw-w-[30%]">Pembayaran: </label>
      <select id="stadium" class="tw-w-full">
        <option value="debit credit">Debit/Credit Card</option>
        <option value="e-wallet">E-wallet</option>
        <option value="paypal">Paypal</option>
      </select>
    </div>

    <a href="">
      <button class="tw-text-blue-800 tw-text-xl hover:tw-underline">Beli</button>
    </a>
  </div>

  
</section>
{% endblock content %}