{% extends 'base.html' %}

{% block meta %}
{% endblock meta %}

{% block content %}
<section class="tw-flex tw-w-full tw-w-full tw-h-screen tw-justify-center tw-items-center 
tw-bg-gradient-to-r tw-from-[rgba(2,0,36,1)] tw-via-[rgba(60,161,199,1)] tw-to-[rgba(0,123,255,1)]">
  <div class="tw-flex tw-flex-col tw-p-8 tw-gap-8 tw-items-center tw-bg-white">
    <h1 class="tw-text-5xl tw-font-bold">Pilih Stadium</h1>
    <div class="tw-flex tw-gap-2 tw-w-full">
      <label class="tw-font-bold">Stadium: </label>
      <select id="stadium" class="tw-w-full">
        <option value="victory stadium">Victory Stadium</option>
        <option value="emerald arena">Emerald Arena</option>
        <option value="liberty stadium">Liberty Stadium</option>
        <option value="golden park" selected>Golden Park</option>
        <option value="sapphire stadium" selected>Sapphire Stadium</option>
      </select>
    </div>

    <div class="tw-flex tw-gap-2 tw-w-full">
      <label class="tw-font-bold">Tanggal: </label>
      <input type="date" id="date" name="date" class="tw-w-full">
    </div>

    <a href="{% url 'penonton:waktu_stadium' %}">
      <button class="tw-text-blue-800 tw-text-xl hover:tw-underline">Next</button>
    </a>
  </div>

  
</section>
{% endblock content %}